{% extends 'base.html' %}
    {% block content %}
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
     
                 <th>Name</th>
             
                </tr>
            </thead>
            <tbody>
                {% for p in person %}

                <tr>
                   
 
                    <td>
                        <a href="/fmembers/{{p.id}}">{{p.name}}</a>
                    </td>

                {% endfor %}

               
              
                </tr>
            </tbody>
    </table>
    {% endblock  %}
  